<%# encoding: utf-8 %>
<%# insert newly created idea into my list %>

<li class='ideaid<%= idea.id %>'>
<div class="left">
  <%= image_tag("/images/icons/#{idea.user_id % 67}.png") %>
  <div class="user_icon">
    <span class="id<%= idea.user_id %>">
      <% num_of_ideas = User.find(:first, :conditions => "id = #{idea.user_id}").ideas.length %>
      <b>已发点子数:<%= num_of_ideas %></b>
      <b></b>
    </span>
  </div>
</div>
<div class='item'>
  <b class="title"><%= idea.title %></b>
  <p><%= idea.content %></p>
  <div class='right small'>
    <%= link_to '牛', likes_path(:idea_id => idea.id, :score => 3), :class => 'small-button', :remote => true %>
    <%= link_to '还不错', likes_path(:idea_id => idea.id, :score => 2), :class => 'small-button', :remote => true %>
    <%= link_to '没感觉', likes_path(:idea_id => idea.id, :score => 1), :class => 'small-button', :remote => true %>
    <%= link_to '不喜欢', likes_path(:idea_id => idea.id, :score => 0), :class => 'small-button', :remote => true %>
  </div>
  <div class='small'>
    <%= time_ago_in_words(idea.created_at) %>前
  </div>
</div>
</li>
